body {
    background-color: white;
  }
  
  h1 {
    color: black;
    margin-left: 20px;
  }
  #Empresa{
  backgroud-color: gray;
  }
  
  #Funcionários{
  backgroud-color: black;
  }
  
  #Contatos{
  backgroud-color: grey;
  }
  
  #Produto{
  backgroud-color: black;
  }
  
  a
  {
  color: black;
  }
  a:hover {
    color: lightblue;
  }
  nav{
    text-align: center
  }